  .container {
      line-height: 120%;
      color: white;
      mix-blend-mode: exclusion;
      width: calc(50vw - 40px);
      position: absolute;
      top: 0px;
      left: 50%;
      padding-top: 10%;
      padding-bottom: 10%;
      font-size: 14px;
      /* overflow-x: hidden; */
  }
  
  h2 {
      line-height: 140%;
  }
  
  #blur {
      background-color: black;
      position: fixed;
      bottom: -20px;
      left: -50px;
      width: 130%;
      height: 300px;
      display: block;
      filter: blur(12px);
      display: none;
  }
  
  @media(orientation: portrait),
  (max-width: 600px) {
      .container {
          /* overflow-x: hidden; */
          width: calc(90vw - 40px);
          /* height: 80%; */
          line-height: 20px;
          left: 10%;
          padding-top: 20%;
          padding-bottom: 40%;
      }
      #blur {
          display: block;
      }
  }
