 @import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
 * {
     font-family: 'Bitter', serif;
     /* font-family: 'Questrial', sans-serif; */
     background: transparent;
     letter-spacing: 0.25px;
 }
 
 *::selection {
     color: black;
     background-color: white;
     background-blend-mode: normal;
 }
 
 h2 {
     font-size: 22px;
     font-weight: 400;
 }
 
 a,
 a:hover,
 a:checked {
     text-decoration: none;
     color: inherit;
     cursor: default;
 }
 
 #colorbutton {
     cursor: default;
 }
 
 .pc {
     display: block;
 }
 
 .mobile {
     display: none;
 }
 
 body {
     background-color: white;
 }
 
 .dark-mode {
     background-color: black;
 }
 
 nav {
     font-size: 18px;
     top: 20px;
     color: white;
     mix-blend-mode: exclusion;
     left: 40px;
     z-index: 990;
     position: fixed;
 }
 
 nav b,
 #nav2 b {
     font-size: 16px;
     font-weight: 400;
     margin-right: 20px;
 }
 
 #nav2 {
     font-size: 16px;
     top: 20px;
     color: white;
     mix-blend-mode: exclusion;
     right: 10px;
     z-index: 999;
     position: fixed;
 }
 
 #logo,
 #logo02 {
     width: calc(50vw - 40px);
     color: white;
     mix-blend-mode: difference;
     margin-left: 20px;
     position: fixed;
     bottom: 40px;
     z-index: 2;
     text-align: left;
     line-height: normal;
 }
 /*  
 #logo03 {
     position: relative;
     padding-top: 180px;
     padding-bottom: 80px;
     margin-left: -10px;
 } */
 
 .logo {
     font-weight: 500;
     font-size: 36px;
 }
 
 .footer {
     font-weight: 400;
     font-size: 10px;
 }
 
 #mobilenav {
     background-color: white;
     color: black;
     mix-blend-mode: normal;
     position: fixed;
     top: 0px;
     left: 0px;
     padding-left: 8px;
     width: 100vw;
     padding-top: 40vh;
     height: 100vh;
     z-index: 99;
     text-align: center;
     line-height: 200%;
     display: none;
 }
 
 .shownav {
     display: block;
 }
 
 .dark-mode-mobile {
     color: white;
     background-color: black;
 }
 /* #mobilenav a {} */
 
 @media(orientation: portrait),
 (max-width: 600px) {
     .pc {
         display: none;
     }
     .mobile {
         display: block;
     }
     nav {
         top: 6%;
         font-size: 14px;
     }
     nav b,
     #nav2 b {
         font-size: 14px;
         margin-right: 10px;
     }
     #nav2 {
         top: 6%;
         font-size: 14px;
     }
     #logo,
     #logo02,
     #logo03 {
         width: calc(80vw - 40px);
     }
     .logo {
         font-size: 28px;
     }
 }
 
 @media(min-width:800px) {
     #mobilenav {
         display: none;
     }
 }
