*{background:transparent;}
a,a:link,a:visited{color:inherit;text-decoration: none;font-weight:300;}
a:hover{color:inherit;background-color:transparent;text-decoration: none;}

h1{ font-size:8vh; color:inherit}
.main{
  color:#623CEA;
  height:80vh;
  width:40vw;
  font-size:5vh;
  font-family:sans-serif;
  padding-top:5vh;
  

}
