*{color:transparent;}
a{color:none;
text-decoration:none:
}
a:checked{color:none;
text-decoration:none:
}
h1{font-size:10vh}
.main{
  height:100vh;
  width:100vw;
  font-family:sans-serif;
 padding:20vw;
  

}
